.footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:60px 20px;
  }
  
  .footer h3{
    font-size:32px;
    margin-bottom:15px;
  }
  
  .socials{
    margin:25px 0;
  }
  
  .socials i{
    font-size:22px;
    margin:0 15px;
    cursor:pointer;
    transition:.3s;
  }
  
  .socials i:hover{
    color:#f59e0b;
  }