.login-page{
    min-height:100vh;
  
    background:
    linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.4)),
    url("https://images.unsplash.com/photo-1488646953014-85cb44e25828");
  
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .login-box{
    width:400px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:20px;
  }
  
  .login-box h2{
    color:white;
    text-align:center;
    margin-bottom:25px;
  }
  
  .login-box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
  }
  
  .login-box button{
    width:100%;
    padding:14px;
    border:none;
    background:#0ea5e9;
    color:white;
    border-radius:10px;
  }